In [1]:
print("hola mundo")

hola mundo

In [2]:
resultado=3+3
print(resultado)

6

In [3]:
2 ** 3

8

In [4]:
5%2

1

In [5]:
r = 8
pi =3.14
perimetro = 2 * pi * r
print(perimetro)

50.24

In [6]:
min(5,6,7,8,9,1)

1

In [7]:
avg(5,6,7,8,9,43,2,3,3,)

NameError: name 'avg' is not defined

In [8]:
med(4,5,6,7,8,9,4,3)

NameError: name 'med' is not defined

In [9]:
sueldo_bruto = 35000
retenciones = 17.3
neto = sueldo_bruto -(sueldo_bruto * retenciones /100)
neto

28945.0

In [10]:
type(neto)

float

In [11]:
round(5.49999999999999999999999999999999999999999999999999999999999999999)

6

In [12]:
abs(7-20)

13

In [13]:
int(18.6)

18

In [14]:
float(5)

5.0

In [15]:
float(10+25.6)

35.6

In [16]:
complex(2)

(2+0j)

In [17]:
str(1234567890)

'1234567890'

In [18]:
a = true
a and false

NameError: name 'true' is not defined

In [19]:
a = true
a and false

NameError: name 'true' is not defined

In [1]:
b = 'ANNA'
a = 'ana'
a == b

False

In [2]:
b = "Me he enamorado de + a"

In [3]:
b = "Me he enamorado de + a"
b

'Me he enamorado de + a'

In [4]:
b = 'ANNA'
a = 'ana'
a == b
b = "Me he enamorado de + a"
b

'Me he enamorado de + a'

In [5]:
resultado = 9
texto = 'suma de productos es' + str(resultado)
texto

'suma de productos es9'

In [6]:
a < b

False

In [7]:
a < b

False

In [8]:
a = 'salva'
len(a)

5

In [9]:
especial = " las \"comillas\" son caracteres especiales"
especial

' las "comillas" son caracteres especiales'

In [10]:
especial = " Hay otros caracteres especiales como el salto de la linea (\\n).\nsirve para representar el fin de la linea en ficheros."
print(especial)

 Hay otros caracteres especiales como el salto de la linea (\n).
sirve para representar el fin de la linea en ficheros.

In [11]:
especial = "' hay otros caracteres'"
print(especial)

' hay otros caracteres'

In [12]:
texto = "Cambio : %d %s som %.f %s"
texto % (1, "dolar", 0.9266666666666666666666666, "euros")

'Cambio : 1 dolar som 1 euros'

In [13]:
radio = 4.323343
pi = 3.1416
area = * radio**2
print ('El area del un circulo de radio %.3f es %.5f' %(radio,area))

SyntaxError: can't use starred expression here (1473509443.py, line 3)

In [14]:
radio = 4.323343
pi = 3.1416
area = pi* radio**2
print ('El area del un circulo de radio %.3f es %.5f' %(radio,area))

El area del un circulo de radio 4.323 es 58.72057

In [15]:
def suma_tres(x,y,z):
    m1 = x + y
    m2 = m1 + z
    return m2

In [16]:
def suma_tres(x,y,z):
    m1 = x + y
    m2 = m1 + z
    return m2
suma_tres(1,2,8)

11

In [17]:
def suma_tres(x,y,z):
    m1 = x + y
    m2 = m1 + z
    return m2
suma_tres(1,2,8)
a = 1
b = 8
resultado = suma_tres(a,2,b)
resultado

11

In [1]:
def suma_tres(x,y,z):
    m1 = x + y
    m2 = m1 + z
suma_tres(1,2,8)
a = 1
b = 8
resultado = suma_tres(a,2,b)
resultado

In [2]:
t =(4,"Hola", 6.0,99)
print("Tupla:" + t)

TypeError: can only concatenate str (not "tuple") to str

In [3]:
t =(4,"Hola", 6.0,99)
print("Tupla:" , t)

Tupla: (4, 'Hola', 6.0, 99)

In [4]:
r = range(-5,5]
          list(r)

SyntaxError: closing parenthesis ']' does not match opening parenthesis '(' (2363089331.py, line 1)

In [5]:
r = range(-5,5]
list(r)

SyntaxError: closing parenthesis ']' does not match opening parenthesis '(' (43827336.py, line 1)

In [6]:
r = range(-5,5)
list(r)

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4]

In [7]:
laborales = (1,2,3,4,5)
laborales

(1, 2, 3, 4, 5)

In [8]:
laborales(1,2,3,4,5)
lunes,martes,miercoles,jueves,viernes = laborales
martes

TypeError: 'tuple' object is not callable

In [9]:
laborales=(1, 2 , 3, 4, 5)
lunes,martes,miercoles,jueves,viernes = laborales
laborales

TypeError: 'tuple' object is not callable

In [10]:
laborales = (1, 2 , 3, 4, 5)
lunes,martes,miercoles,jueves,viernes = laborales
laborales

(1, 2, 3, 4, 5)

In [11]:
laborales = (1, 2 , 3, 4, 5)
lunes,martes,miercoles,jueves,viernes = laborales
martes

2

In [12]:
if 1 < 0
    print("1 es menor que 0")
print("Esto se ejecuta siempre")

SyntaxError: expected ':' (3228737738.py, line 1)

In [13]:
if 1 < 0:
    print("1 es menor que 0")
print("Esto se ejecuta siempre")

Esto se ejecuta siempre

In [14]:
if 1 < 0:
    print("1 es menor que 0")
    print("Esto se ejecuta siempre")

In [1]:
for i dic.keys():
    print(i)

SyntaxError: invalid syntax (1684918638.py, line 1)

In [2]:
dic = (1:"Lunes", 2:"Martes",3:"Miercoles")
for i dic.keys():
    print(i)

SyntaxError: invalid syntax (1739333450.py, line 1)

In [3]:
dic = (1:"Lunes", 2:"Martes",3:"Miercoles")
for i dic.items():
    print(i)

SyntaxError: invalid syntax (654634380.py, line 1)

In [4]:
dic = (1:'Lunes', 2:'Martes',3:'Miercoles')
for i dic.keys():
    print(i)

SyntaxError: invalid syntax (2903744200.py, line 1)

In [5]:
dic = (1:"Lunes", 2:"Martes",3:"Miercoles")
for i  in dic.items():
    print(i)

SyntaxError: invalid syntax (1704488294.py, line 1)

In [6]:
dic = (1:'Lunes',  2:'Martes', 3:'Miercoles')
for i  in dic.items():
    print(i)

SyntaxError: invalid syntax (1171563693.py, line 1)

In [7]:
i = -2
while i < 5:
    print(i)
    i = i + 1
print("Estoy fuera del while")

-2
-1
0
1
2
3
4
Estoy fuera del while

In [8]:
i = 0
while i < 5
   print(i)
    i = i + 1
    if i == 3:
        break

SyntaxError: expected ':' (478999863.py, line 2)

In [9]:
i = 0
while i < 5:
   print(i)
    i = i + 1
    if i == 3:
        break

IndentationError: unexpected indent (2481566103.py, line 4)

In [10]:
i = 0 
while i < 5:
    print(i)
    i = i + 1
    if i ==3:
        break

0
1
2

In [11]:
i = 0 
while i < 5:
    print(i)
    i = i + 1
    print(i)
    if i ==3:
        break

0
1
1
2
2
3

In [33]:
ciudades = ["Madrid", "Sevilla", "Segovia", "Valencia"]

for (i,valor) in enumerate(ciudades):
    print('{}: {}'.format(i+1,valor))

1: Madrid
2: Sevilla
3: Segovia
4: Valencia

In [13]:
ciudades = ["Madrid", "Sevilla", "Segovia", "Valencia"]

for (i,valor) in enumerate(reversed(ciudades)):
    print('{}:{}'.format(len(ciudades)-i,valor))

4:Valencia
3:Segovia
2:Sevilla
1:Madrid

In [14]:
dic = { }
bool(dic)

False

In [15]:
dic = {1:'Lunes', 2:'Martes', 3:'Miercoles' }
dic

{1: 'Lunes', 2: 'Martes', 3: 'Miercoles'}

In [16]:
dic

{1: 'Lunes', 2: 'Martes', 3: 'Miercoles'}

In [17]:
d = ('Hola' :['Hi', 'Hello'],
    'Comer' : ['eat'])
len(d)

SyntaxError: invalid syntax (2410716726.py, line 1)

In [18]:
d = {'Hola' :['Hi', 'Hello'],
    'Comer' : ['eat']}
len(d)

2

In [19]:
d1 ={'Lunes' :1, 'Martes' :2 , 'Finde' :(6,7)}
d1

{'Lunes': 1, 'Martes': 2, 'Finde': (6, 7)}

In [20]:
d2 = {}
d2['Juan'] = 609922565
d2['Ana'] = 691252580
d2['Luis'] = 642589569
d2

{'Juan': 609922565, 'Ana': 691252580, 'Luis': 642589569}

In [21]:
'carlota' in d2

False

In [22]:
d2

{'Juan': 609922565, 'Ana': 691252580, 'Luis': 642589569}

In [23]:
e = d2.pop('Ana')
e

691252580

In [24]:
d2.keys()

dict_keys(['Juan', 'Luis'])

In [25]:
d2.values()

dict_values([609922565, 642589569])

In [26]:
L = ['a','b','c',4,5,6,7,8,9]
for L range(1):
    print(L)

SyntaxError: invalid syntax (648808223.py, line 2)

In [27]:
L = ['a','b','c',4,5,6,7,8,9]
for L in range(1):
    print(L)

0

In [28]:
L = ['a','b','c',4,5,6,7,8,9]
for L in range(2):
    print(L)

0
1

In [29]:
L = ['a','b','c',4,5,6,7,8,9]
for L in range(3):
    print(L)

0
1
2

In [32]:
L = ['a','b','c',4,5,6,7,8,9]
for L in  L.items range(1):
    print(L)

SyntaxError: invalid syntax (671502581.py, line 2)

In [41]:
d =  { 1: 'Roma', 2: 'Milán', 3:'Nápoles', 4:'Turín', 5:'Palermo' ,6: 'Génova' ,7:'Bolonia', 8:'Florencia', 9:'Bari', 10:'Catania'}
pob =  [2718768, 1299633, 973132, 908263, 663173, 610887, 372256, 364710, 322511, 298957]

for (i,valor,valor) in enumerate(d,pob):
    print('{}: {}: {}'.format(i+1,valor,valor))

TypeError: 'list' object cannot be interpreted as an integer

In [1]:
import numpy as np
precipitaciones = np.loadtxt('rotterdam_rainfall.txt', delimiter=',')
precipitaciones = np-loadtxt('rotterdam_rainfall.txt', delimiter=',', dtype = int, usecols=[1])
precip_positivas= (precipitaciones[precipitaciones>=0])
print(len(precip_positivas))

NameError: name 'loadtxt' is not defined

In [2]:
import numpy as np
precipitaciones = np.loadtxt('rotterdam_rainfall.txt', delimiter=',')
precipitaciones = np.loadtxt('rotterdam_rainfall.txt', delimiter=',', dtype = int, usecols=[1])
precip_positivas= (precipitaciones[precipitaciones>=0])
print(len(precip_positivas))

324

In [3]:
import numpy as np
precipitaciones = np.loadtxt('rotterdam_rainfall.txt', delimiter=',')
precipitaciones = np.loadtxt('rotterdam_rainfall.txt', delimiter=',', dtype = int, usecols=[1])
precip_positivas= (precipitaciones[precipitaciones>=0])
print(len(precip_positivas))
print("Media:", np.mean(precip_positivas))

324
Media: 30.700617283950617

In [6]:
import numpy as np
precipitaciones = np.loadtxt('rotterdam_rainfall.txt', delimiter=',')
precipitaciones = np.loadtxt('rotterdam_rainfall.txt', delimiter=',', dtype = int, usecols=[1])
precip_positivas= (precipitaciones[precipitaciones>=0])
print(len(precip_positivas))
print("Media:", np.mean(precip_positivas))
precipitaciones = np.loadtxt('rotterdam_rainfall.txt', delimiter=',', dtype= int, usecols=[1])
precipitacionesdia = np.loadtxt('rotterdam_rainfall.txt', delimiter=',',dtype= int)
posicion = precipitaciones.tolist().index(np.max(precip_positivas))
print("Máximo día y Máximo precio:", precipitacionesdia[posicion])

324
Media: 30.700617283950617
Máximo día y Máximo precio: [20121222      224]

In [8]:
import numpy as np
precipitaciones = np.loadtxt('rotterdam_rainfall.txt', delimiter=',')
precipitaciones = np.loadtxt('rotterdam_rainfall.txt', delimiter=',', dtype = int, usecols=[1])
precip_positivas= (precipitaciones[precipitaciones>=0])
print(len(precip_positivas))
print("Media:", np.mean(precip_positivas))
precipitaciones = np.loadtxt('rotterdam_rainfall.txt', delimiter=',', dtype= int, usecols=[1])
precipitacionesdia = np.loadtxt('rotterdam_rainfall.txt', delimiter=',',dtype= int)
posicion = precipitaciones.tolist().index(np.max(precip_positivas))
print("Máximo día y Máximo precio:", precipitacionesdia[posicion])
precipitacionesdia[::,1] = precipitacionesdia[:,1]*10
precipitacionesdia

324
Media: 30.700617283950617
Máximo día y Máximo precio: [20121222      224]

array([[20120101,     2070],
       [20120102,      -10],
       [20120103,     1440],
       [20120104,      360],
       [20120105,      840],
       [20120106,       80],
       [20120107,      300],
       [20120108,      -10],
       [20120109,       80],
       [20120110,        0],
       [20120111,      100],
       [20120112,       90],
       [20120113,       40],
       [20120114,      -10],
       [20120115,        0],
       [20120116,        0],
       [20120117,        0],
       [20120118,      320],
       [20120119,     1440],
       [20120120,      -10],
       [20120121,      350],
       [20120122,      190],
       [20120123,      160],
       [20120124,       50],
       [20120125,       50],
       [20120126,      330],
       [20120127,      -10],
       [20120128,      -10],
       [20120129,        0],
       [20120130,       10],
       [20120131,      -10],
       [20120201,        0],
       [20120202,        0],
       [20120203,      270],
       [20120204,        0],
       [20120205,        0],
       [20120206,        0],
       [20120207,        0],
       [20120208,        0],
       [20120209,      -10],
       [20120210,        0],
       [20120211,        0],
       [20120212,       50],
       [20120213,      180],
       [20120214,      190],
       [20120215,      290],
       [20120216,       60],
       [20120217,       40],
       [20120218,      800],
       [20120219,      250],
       [20120220,      -10],
       [20120221,        0],
       [20120222,      260],
       [20120223,      -10],
       [20120224,       10],
       [20120225,        0],
       [20120226,        0],
       [20120227,        0],
       [20120228,       30],
       [20120229,      -10],
       [20120301,        0],
       [20120302,        0],
       [20120303,      -10],
       [20120304,      430],
       [20120305,      450],
       [20120306,        0],
       [20120307,     1230],
       [20120308,        0],
       [20120309,        0],
       [20120310,       10],
       [20120311,        0],
       [20120312,        0],
       [20120313,        0],
       [20120314,        0],
       [20120315,        0],
       [20120316,        0],
       [20120317,      -10],
       [20120318,       70],
       [20120319,        0],
       [20120320,        0],
       [20120321,        0],
       [20120322,        0],
       [20120323,        0],
       [20120324,        0],
       [20120325,        0],
       [20120326,        0],
       [20120327,        0],
       [20120328,        0],
       [20120329,        0],
       [20120330,      -10],
       [20120331,      -10],
       [20120401,        0],
       [20120402,        0],
       [20120403,      -10],
       [20120404,      400],
       [20120405,        0],
       [20120406,      100],
       [20120407,       30],
       [20120408,      300],
       [20120409,      650],
       [20120410,      230],
       [20120411,      130],
       [20120412,      -10],
       [20120413,      -10],
       [20120414,        0],
       [20120415,      -10],
       [20120416,       60],
       [20120417,      350],
       [20120418,       80],
       [20120419,      320],
       [20120420,      150],
       [20120421,      120],
       [20120422,       10],
       [20120423,      380],
       [20120424,      300],
       [20120425,      250],
       [20120426,      660],
       [20120427,       40],
       [20120428,     1190],
       [20120429,       10],
       [20120430,      -10],
       [20120501,     1020],
       [20120502,     1130],
       [20120503,      -10],
       [20120504,      -10],
       [20120505,      -10],
       [20120506,        0],
       [20120507,       10],
       [20120508,      660],
       [20120509,     1240],
       [20120510,      540],
       [20120511,      -10],
       [20120512,       20],
       [20120513,        0],
       [20120514,      150],
       [20120515,     1060],
       [20120516,      210],
       [20120517,        0],
       [20120518,       30],
       [20120519,        0],
       [20120520,      510],
       [20120521,        0],
       [20120522,        0],
       [20120523,        0],
       [20120524,        0],
       [20120525,        0],
       [20120526,        0],
       [20120527,        0],
       [20120528,        0],
       [20120529,      350],
       [20120530,        0],
       [20120531,      720],
       [20120601,       50],
       [20120602,      -10],
       [20120603,     1010],
       [20120604,     1570],
       [20120605,       10],
       [20120606,      690],
       [20120607,      170],
       [20120608,       70],
       [20120609,      210],
       [20120610,      -10],
       [20120611,     1860],
       [20120612,      160],
       [20120613,        0],
       [20120614,        0],
       [20120615,      960],
       [20120616,      320],
       [20120617,      -10],
       [20120618,     1300],
       [20120619,        0],
       [20120620,        0],
       [20120621,     1120],
       [20120622,      710],
       [20120623,        0],
       [20120624,     1320],
       [20120625,        0],
       [20120626,        0],
       [20120627,        0],
       [20120628,      -10],
       [20120629,      -10],
       [20120630,      370],
       [20120701,       40],
       [20120702,        0],
       [20120703,        0],
       [20120704,       10],
       [20120705,      400],
       [20120706,     1070],
       [20120707,       60],
       [20120708,      690],
       [20120709,      -10],
       [20120710,       30],
       [20120711,     1260],
       [20120712,      670],
       [20120713,      430],
       [20120714,      810],
       [20120715,     1040],
       [20120716,     2120],
       [20120717,       10],
       [20120718,      480],
       [20120719,      720],
       [20120720,      -10],
       [20120721,       10],
       [20120722,        0],
       [20120723,        0],
       [20120724,        0],
       [20120725,        0],
       [20120726,        0],
       [20120727,      830],
       [20120728,       10],
       [20120729,      360],
       [20120730,      970],
       [20120731,      140],
       [20120801,      370],
       [20120802,      510],
       [20120803,      360],
       [20120804,       60],
       [20120805,     1300],
       [20120806,       80],
       [20120807,     1180],
       [20120808,       10],
       [20120809,        0],
       [20120810,        0],
       [20120811,        0],
       [20120812,        0],
       [20120813,      200],
       [20120814,       30],
       [20120815,       20],
       [20120816,        0],
       [20120817,        0],
       [20120818,        0],
       [20120819,       60],
       [20120820,        0],
       [20120821,      -10],
       [20120822,        0],
       [20120823,        0],
       [20120824,      190],
       [20120825,      470],
       [20120826,     1820],
       [20120827,      -10],
       [20120828,      240],
       [20120829,      160],
       [20120830,      890],
       [20120831,     1390],
       [20120901,        0],
       [20120902,        0],
       [20120903,      -10],
       [20120904,        0],
       [20120905,        0],
       [20120906,        0],
       [20120907,        0],
       [20120908,        0],
       [20120909,        0],
       [20120910,       10],
       [20120911,       40],
       [20120912,      300],
       [20120913,        0],
       [20120914,       80],
       [20120915,      -10],
       [20120916,        0],
       [20120917,       80],
       [20120918,      500],
       [20120919,      170],
       [20120920,      140],
       [20120921,       50],
       [20120922,      270],
       [20120923,      700],
       [20120924,     1480],
       [20120925,      780],
       [20120926,      -10],
       [20120927,      440],
       [20120928,       60],
       [20120929,      100],
       [20120930,        0],
       [20121001,      190],
       [20121002,      120],
       [20121003,      490],
       [20121004,     1070],
       [20121005,     1300],
       [20121006,     1410],
       [20121007,        0],
       [20121008,      -10],
       [20121009,        0],
       [20121010,        0],
       [20121011,       70],
       [20121012,     1150],
       [20121013,     1660],
       [20121014,     1430],
       [20121015,      140],
       [20121016,      290],
       [20121017,      180],
       [20121018,     1000],
       [20121019,      350],
       [20121020,       40],
       [20121021,       80],
       [20121022,        0],
       [20121023,        0],
       [20121024,       10],
       [20121025,       30],
       [20121026,      -10],
       [20121027,      -10],
       [20121028,       10],
       [20121029,     1190],
       [20121030,     1050],
       [20121031,      -10],
       [20121101,      450],
       [20121102,      160],
       [20121103,      150],
       [20121104,     1030],
       [20121105,      460],
       [20121106,     1050],
       [20121107,       40],
       [20121108,       20],
       [20121109,       10],
       [20121110,      420],
       [20121111,      360],
       [20121112,       40],
       [20121113,       50],
       [20121114,        0],
       [20121115,        0],
       [20121116,        0],
       [20121117,       90],
       [20121118,      360],
       [20121119,        0],
       [20121120,        0],
       [20121121,       90],
       [20121122,        0],
       [20121123,      500],
       [20121124,      480],
       [20121125,      170],
       [20121126,       60],
       [20121127,       10],
       [20121128,       90],
       [20121129,       60],
       [20121130,      180],
       [20121201,     1090],
       [20121202,      930],
       [20121203,      520],
       [20121204,      960],
       [20121205,      290],
       [20121206,       70],
       [20121207,     1070],
       [20121208,       10],
       [20121209,     1020],
       [20121210,      160],
       [20121211,       20],
       [20121212,      -10],
       [20121213,      -10],
       [20121214,     1030],
       [20121215,       80],
       [20121216,      240],
       [20121217,      310],
       [20121218,      160],
       [20121219,        0],
       [20121220,      680],
       [20121221,       90],
       [20121222,     2240],
       [20121223,      760],
       [20121224,      320],
       [20121225,     1250],
       [20121226,      450],
       [20121227,      270],
       [20121228,      180],
       [20121229,       20],
       [20121230,      230],
       [20121231,      500]])

In [10]:
import numpy as np
juan = np.loadtxt('col_juan.txt',delimiter=',',dtype='i')
pedro = np.loadtxt('col_pedro.txt', delimiter=',', dtype='i')

pedro

C:\Users\Medac\AppData\Local\Temp\ipykernel_5020\58606767.py:2: DeprecationWarning: loadtxt(): Parsing an integer via a float is deprecated.  To avoid this warning, you can:
    * make sure the original data is stored as integers.
    * use the `converters=` keyword argument.  If you only use
      NumPy 1.23 or later, `converters=float` will normally work.
    * Use `np.loadtxt(...).astype(np.int64)` parsing the file as
      floating point and then convert it.  (On all NumPy versions.)
  (Deprecated NumPy 1.23)
  juan = np.loadtxt('col_juan.txt',delimiter=',',dtype='i')
C:\Users\Medac\AppData\Local\Temp\ipykernel_5020\58606767.py:3: DeprecationWarning: loadtxt(): Parsing an integer via a float is deprecated.  To avoid this warning, you can:
    * make sure the original data is stored as integers.
    * use the `converters=` keyword argument.  If you only use
      NumPy 1.23 or later, `converters=float` will normally work.
    * Use `np.loadtxt(...).astype(np.int64)` parsing the file as
      floating point and then convert it.  (On all NumPy versions.)
  (Deprecated NumPy 1.23)
  pedro = np.loadtxt('col_pedro.txt', delimiter=',', dtype='i')

array([[  2,   4],
       [  4,   1],
       [  6,   9],
       [  7,   4],
       [  9,  10],
       [ 10,  10],
       [ 11,  10],
       [ 13,  10],
       [ 14,  19],
       [ 15,   5],
       [ 18,  16],
       [ 19,  14],
       [ 20,  13],
       [ 22,  17],
       [ 23,   9],
       [ 24,  15],
       [ 26,  14],
       [ 27,  11],
       [ 28,  10],
       [ 29,  17],
       [ 31,   1],
       [ 32,   9],
       [ 35,  18],
       [ 36,   1],
       [ 39,  10],
       [ 40,  12],
       [ 42,  12],
       [ 43,  14],
       [ 44,   6],
       [ 47,   6],
       [ 49,   4],
       [ 50,  11],
       [ 51,  13],
       [ 53,  16],
       [ 54,   9],
       [ 56,  10],
       [ 58,  16],
       [ 59,  14],
       [ 60,  14],
       [ 61,  16],
       [ 63,   3],
       [ 64,   5],
       [ 65,   5],
       [ 68,  11],
       [ 71,  18],
       [ 73,   8],
       [ 74,  11],
       [ 77,  13],
       [ 78,  13],
       [ 79,  16],
       [ 80,   3],
       [ 83,  10],
       [ 84,  13],
       [ 85,  12],
       [ 86,  17],
       [ 87,  18],
       [ 88,  18],
       [ 89,  12],
       [ 90,   8],
       [ 93,  15],
       [ 94,  14],
       [ 95,  14],
       [ 97,  17],
       [ 98,  14],
       [ 99,  11],
       [101,  19],
       [102,  19],
       [103,   2],
       [104,  10],
       [109,  11],
       [112,  14],
       [115,  13],
       [117,   1],
       [118,   4],
       [120,  16],
       [121,   3],
       [123,  14],
       [126,   4],
       [128,   7],
       [130,   8],
       [131,  17],
       [134,  18],
       [135,   9],
       [136,   3],
       [141,   4],
       [143,  15],
       [145,  17],
       [147,   8],
       [149,  12],
       [150,   3],
       [152,   5],
       [153,   7],
       [156,   4],
       [157,  15],
       [160,   8],
       [161,   7],
       [162,   4],
       [163,  13],
       [164,  15],
       [165,   7],
       [166,   5],
       [167,  15],
       [168,   4],
       [169,  18],
       [170,   7],
       [171,  11],
       [172,  18],
       [174,  17],
       [175,  10],
       [177,  19],
       [178,  14],
       [179,   6],
       [182,   4],
       [183,  15],
       [187,   8],
       [188,  14],
       [189,  14],
       [191,   5],
       [192,  11],
       [193,  11],
       [195,  12],
       [196,   1],
       [197,   3],
       [198,  19]], dtype=int32)

In [12]:
cromosDiferentesJuan = np.loadtxt('col_juan.txt', delimiter=',',usecols=[0], dtype="i")
cromosDiferentesPedro = np.loadtxt('col_pedro.txt', delimiter=',',usecols=[0], dtype="i")
print(len(cromosDiferentesJuan))
print(len(cromosDiferentesPedro))

68
124

C:\Users\Medac\AppData\Local\Temp\ipykernel_5020\1037159303.py:1: DeprecationWarning: loadtxt(): Parsing an integer via a float is deprecated.  To avoid this warning, you can:
    * make sure the original data is stored as integers.
    * use the `converters=` keyword argument.  If you only use
      NumPy 1.23 or later, `converters=float` will normally work.
    * Use `np.loadtxt(...).astype(np.int64)` parsing the file as
      floating point and then convert it.  (On all NumPy versions.)
  (Deprecated NumPy 1.23)
  cromosDiferentesJuan = np.loadtxt('col_juan.txt', delimiter=',',usecols=[0], dtype="i")
C:\Users\Medac\AppData\Local\Temp\ipykernel_5020\1037159303.py:2: DeprecationWarning: loadtxt(): Parsing an integer via a float is deprecated.  To avoid this warning, you can:
    * make sure the original data is stored as integers.
    * use the `converters=` keyword argument.  If you only use
      NumPy 1.23 or later, `converters=float` will normally work.
    * Use `np.loadtxt(...).astype(np.int64)` parsing the file as
      floating point and then convert it.  (On all NumPy versions.)
  (Deprecated NumPy 1.23)
  cromosDiferentesPedro = np.loadtxt('col_pedro.txt', delimiter=',',usecols=[0], dtype="i")

In [16]:
cromosTotalesJuan = np.loadtxt('col_juan.txt', delimiter=',',usecols=[1], dtype="i")
cromosTotalesPedro = np.loadtxt('col_pedro.txt', delimiter=',',usecols=[1], dtype="i")
print(np.sum(cromosTotalesJuan))
print(np.sum(cromosTotalesPedro))

619
1326

C:\Users\Medac\AppData\Local\Temp\ipykernel_5020\3131946140.py:1: DeprecationWarning: loadtxt(): Parsing an integer via a float is deprecated.  To avoid this warning, you can:
    * make sure the original data is stored as integers.
    * use the `converters=` keyword argument.  If you only use
      NumPy 1.23 or later, `converters=float` will normally work.
    * Use `np.loadtxt(...).astype(np.int64)` parsing the file as
      floating point and then convert it.  (On all NumPy versions.)
  (Deprecated NumPy 1.23)
  cromosTotalesJuan = np.loadtxt('col_juan.txt', delimiter=',',usecols=[1], dtype="i")
C:\Users\Medac\AppData\Local\Temp\ipykernel_5020\3131946140.py:2: DeprecationWarning: loadtxt(): Parsing an integer via a float is deprecated.  To avoid this warning, you can:
    * make sure the original data is stored as integers.
    * use the `converters=` keyword argument.  If you only use
      NumPy 1.23 or later, `converters=float` will normally work.
    * Use `np.loadtxt(...).astype(np.int64)` parsing the file as
      floating point and then convert it.  (On all NumPy versions.)
  (Deprecated NumPy 1.23)
  cromosTotalesPedro = np.loadtxt('col_pedro.txt', delimiter=',',usecols=[1], dtype="i")

In [22]:
cromosDiferentesJuan = np.loadtxt('col_juan.txt', delimiter=',',usecols=[0], dtype="i")
cromosDiferentesPedro = np.loadtxt('col_pedro.txt', delimiter=',',usecols=[0], dtype="i")
cromosIguales = np.intersect1d(cromosDiferentesJuan, cromosDiferentesPedro);
print(cromosIguales.size)

44

C:\Users\Medac\AppData\Local\Temp\ipykernel_5020\3743668547.py:1: DeprecationWarning: loadtxt(): Parsing an integer via a float is deprecated.  To avoid this warning, you can:
    * make sure the original data is stored as integers.
    * use the `converters=` keyword argument.  If you only use
      NumPy 1.23 or later, `converters=float` will normally work.
    * Use `np.loadtxt(...).astype(np.int64)` parsing the file as
      floating point and then convert it.  (On all NumPy versions.)
  (Deprecated NumPy 1.23)
  cromosDiferentesJuan = np.loadtxt('col_juan.txt', delimiter=',',usecols=[0], dtype="i")
C:\Users\Medac\AppData\Local\Temp\ipykernel_5020\3743668547.py:2: DeprecationWarning: loadtxt(): Parsing an integer via a float is deprecated.  To avoid this warning, you can:
    * make sure the original data is stored as integers.
    * use the `converters=` keyword argument.  If you only use
      NumPy 1.23 or later, `converters=float` will normally work.
    * Use `np.loadtxt(...).astype(np.int64)` parsing the file as
      floating point and then convert it.  (On all NumPy versions.)
  (Deprecated NumPy 1.23)
  cromosDiferentesPedro = np.loadtxt('col_pedro.txt', delimiter=',',usecols=[0], dtype="i")

In [24]:
coleccion = np.union1d(cromosDiferentesJuan, cromosDiferentesPedro)
print(coleccion.size)

148

In [28]:
coleccionCompleta = np.arange(1,201)
cromosFaltan = np.in1d(coleccionCompleta, coleccion, invert=True);
coleccionCompleta[cromosFaltan]

array([  1,   3,  12,  16,  17,  21,  30,  34,  38,  45,  46,  48,  52,
        55,  66,  69,  72,  75,  76,  81,  82,  91,  92,  96, 100, 106,
       107, 113, 114, 119, 122, 124, 125, 129, 138, 139, 140, 146, 151,
       154, 155, 173, 176, 180, 181, 184, 185, 186, 190, 194, 199, 200])

In [5]:
contador = 0
for i in range(0,20):
    if i !=10:
        contador = contador + 1
    elif i >= 10: 
        contador = contador - 1
print(contador)

18

In [6]:
print("*"*10contador)

SyntaxError: invalid decimal literal (2276566901.py, line 1)

In [22]:
contador = 0
for i in range(0,20):
    print("*"*contador)
    if i !=10:
        contador = contador + 1
    if i == 10:
        print("+"*(contador+1))
        for i in range(0,20):
            contador = contador -1
            print("*"*(contador+1))

*
**
***
****
*****
******
*******
********
*********
**********
+++++++++++
**********
*********
********
*******
******
*****
****
***
**
*

In [27]:
contador = 0
for i in range(0,20):
    print("*"*contador)
    if i !=15:
        contador = contador + 1
    if i == 15:
        print("+"*(contador+1))
        for i in range(0,20):
            contador = contador -1
            print("*"*(contador+1))

*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************
++++++++++++++++
***************
**************
*************
************
***********
**********
*********
********
*******
******
*****
****
***
**
*

In [1]:
 x = float(input("Ingrese un valor"))

Ingrese un valor100

In [1]:
cena = float(input("Ingrese el coste de la cena"))
propina = float(input("Ingrese el porcentaje de propina a dejar"))
total = cena + propina
def calcular_propina(cena,propina):
    propina = cena * propina /100
    return propina
def calcular_total(cena,propina):
    total = cena + propina
    return total
print("El coste de la cena es de ",cena)
print("La propina a dejar es de ",propina)
print("El monto total es de",total)

Ingrese el coste de la cena10
Ingrese el porcentaje de propina a dejar2
El coste de la cena es de  10.0
La propina a dejar es de  2.0
El monto total es de 12.0

In [13]:
coste_objeto = float(input("Ingrese el valor del objeto"))
costes_envio = float(input("Ingrese los costes de envio"))
costes_facturacion = float(input("Ingrese el valor de la facturación"))
total = coste_objeto + coste_envio + coste_facturacion
def calcular_costes(coste_objeto,costes_envio,costes_facturación):
    total = coste_objeto + costes_envio + costes_facturación
    return total
print("El coste toal es de ",total)

Ingrese el valor del objeto10
Ingrese los costes de envio5
Ingrese el valor de la facturación1

NameError: name 'coste_envio' is not defined

In [14]:
precio_producto = float(input("Ingresa el precio de los productos: "))
tasa_impuesto = float(input("Ingresa la tasa de impuestos a pagar:"))
cargos = float(input("Ingresa los cargos de envio de los productos: "))
precio_total = precio_producto + tasa_impuesto + cargos
impuestos = precio_total*tasa_impuesto/100
def calcular_precio_total(precio_total, precio_producto, tasa_impuesto, cargos):
    precio_total = precio_producto + tasa_impuesto + cargos
    return precio_total
def calcular_impuesto(impuesto, precio_total, tasa_impuesto, impuestos):
    impuestos = precio_total*tasa_impuesto/100
    return impuestos

print("El precio total de la compra es: ",precio_total)
print("La cantidad de impuestos a pagar es: ",impuestos)

Ingresa el precio de los productos: 10
Ingresa la tasa de impuestos a pagar:2
Ingresa los cargos de envio de los productos: 1
El precio total de la compra es:  13.0
La cantidad de impuestos a pagar es:  0.26